<h2 *ngIf="SHOP">Clusters of {{ SHOP.name }}</h2>

<table [class]="TABLE_CSS">
    <thead class="thead-dark">
        <tr>
            <th>DateTime in</th>
            <th>DateTime out</th>
            <th>Number of visitors</th>
            <th>Visitors</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cluster of clustersToDisplay">
            <td>{{ cluster.dateTimeIn }}</td>
            <td>{{ cluster.dateTimeOut }}</td>
            <td>{{ cluster.visits.length }}</td>
            <td>
                <select class="form-control">
                    <option *ngFor="let visit of cluster.visits">
                        {{ visit | visitPipe }}
                    </option>
                </select>
            </td>
        </tr>
    </tbody>
</table>