<h2>All shops</h2>

<button class="btn btn-primary" (click)="onEdit()">Create shop</button>
<br><br>

<form [formGroup] = "shopFilterForm">
    <div class="form-group">
        <input formControlName="searchText" class="form-control" type="text" placeholder="search bar" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Shop Id</th>
            <th>Shop name</th>
            <th>Total visits</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let shop of shopsToDisplay">
            <td>{{ shop.shopId  }}</td>
            <td>{{ shop.name }}</td>
            <td>
                <a (click)="onSeeVisitsOfShop(shop.shopId)" href="javascript:void(0);">{{ shop.visits.length }}</a>
            </td>
            <td><button class="btn btn-primary" (click)="onEdit(shop.shopId)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="onDelete(shop.shopId)">Delete</button></td>
        </tr>
    </tbody>
</table>