<h2>All shops</h2>

<button class="btn btn-primary" (click)="onEdit()">Create shop</button>
<br><br>

<app-searchbar [parentForm]="shopFilterForm"></app-searchbar>

<table [class]="TABLE_CSS">
    <thead class="thead-dark">
        <tr>
            <th>Shop Id</th>
            <th>Shop name</th>
            <th>Total visits</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let shop of shopsToDisplay">
            <td>{{ shop.shopId  }}</td>
            <td>{{ shop.name }}</td>
            <td>
                <button (click)="onSeeVisitsOfShop(shop.shopId)" class="btn btn-warning">{{ shop.visits.length }}</button>
            </td>
            <td><button class="btn btn-primary" (click)="onEdit(shop.shopId)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="onDelete(shop.shopId)">Delete</button></td>
        </tr>
    </tbody>
</table>