<br>
<button (click)="onViewClusters()" class="btn btn-danger">View Overlapping Visits</button>
<br><br>

<h2 *ngIf="SHOP">Visits of {{ SHOP.name }}</h2>

<div>
    <form [formGroup]="dateForm">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="startDate">Start From </label>
                    <input type="date" formControlName="startDate" class="form-control" id="startDate"/>
                </div>
            </div>

            <div class="col-sm">
                <div class="form-group">
                    <label for="endDate">End By </label>
                    <input type="date" formControlName="endDate" class="form-control" id="endDate"/>
                </div>
            </div>
        </div>           

    </form>
    
    <mat-paginator [length]="pageLength"
        [pageSize]="pageSize"
        [hidePageSize]="true"
        (page)="setPage($event)">
    </mat-paginator>
</div>

<table [class]="TABLE_CSS">
    <thead class="thead-dark">
        <tr>
            <th>Visit Id</th>
            <th>Visitor</th>
            <th>DateTime In</th>
            <th>DateTime Out</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let visit of visitsToDisplay">
            <td>{{ visit.visitId }}</td>
            <td>{{ visit.visitor.name + " " + visit.visitor.nric }}</td>
            <td>{{ visit.dateTimeIn }}</td>
            <td>{{ visit.dateTimeOut }}</td>
        </tr>
    </tbody>
</table>